:root{
    --primary-color: cyan;
}
body{
    background-color: black;
    color: var(--primary-color);
}

.table{
    display: block;
    width: 97vw;
    padding: 10px;
    font-family: Segoe UI;
}

.row{
    display: block;
    max-height: 100px;
}

.column{
    display: inline-block;
    height: 60px;
    width: 80px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    color: black;
    border-radius: 5px;
    border: 3px var(--primary-color) solid;
}

.type1{
    width: 125px;
}

.type2{
    width: 150px;
}

.type3{
    width: 198px;
}

h1{
    color: white;
    font-size: 50px;
    font-family: Segoe UI;
    display: inline;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 span, h4 i{
    color: var(--primary-color);
}

h4{
    color: white;
    font-size: 30px;
    font-family: Segoe UI;
    display: inline;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 500px;
    padding: 10px;
    border: 2px var(--primary-color) solid;
    border-radius: 5px;
}